html {
    background: linear-gradient(#13161E, #000000);
}

body {
    margin: 0px;
    padding: 0%;
    overflow-x: hidden;
}

header {
    padding-bottom: 55rem;
}

.content {
    width: 100%;
    height: 100%;
    background: linear-gradient(#13161E, #000000);
}

.container {
    width: 100%;
}

.content {
    width: 100%;
    position: absolute;
}

.en_tete {
    width: 100%;
    height: 300px;
    border: 1px solid rgba(16, 10, 80, 243);
    padding-bottom: 120px;

}

.Titre {
    display: flex;
    justify-content: center;
    margin-top: 200px;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 3em;
}

.title {
    position: absolute;
    margin-left: 2.5%;
    top: 0;
    color: azure;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    margin-top: 32.5px;
    width: 25%;
    font-size: 150%;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 30px;
    margin-top: -64.5px;
    margin-right: 3.5%;
}

a {
    color: white;
    text-decoration: none;
    font-size: 75%;
}

#nounderline {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.Formulaire {
    /* border: 5px solid black; */
    padding-bottom: 40px;
    justify-content: space-between;
    gap: 20px;
    padding-top: 40px;
    padding-left: 100px;
}

.colonnes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.premiere_colonne {
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    /*border: 1px solid white;*/
    width: 300px;
}

.deuxieme_colonne {
    /* border: 1px solid white; */
    width: 300px;
}

.txtNvlam {
    color: white;
}

.password input {
    background-color: rgba(77, 88, 129);
    width: 300px;
    height: 40px;
    border-radius: 8px;
}


.table {
    padding-bottom: 0px;
}

.tableau_style {

    border-collapse: collapse;
    min-width: 400px;
    width: auto;
    box-shadow: 0 5px 50px rgba(0, 0, 0, 15);
    cursor: pointer;
    margin: 100px auto;
    margin-bottom: 0px;
    border: 2px solid midnightblue;
    background-color: white;
}

/* Les titres */
thead tr {
    background-color: rgb(0, 68, 255);
    color: white;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

th,
td {
    padding: 15px 20px;
}

tbody tr,
td,
th {
    border: 1px solid #ddd;

}

/* les rangés pairs --> zébrés*/
tbody tr:nth-child(even) {
    background-color: #f3f3f3;
}

footer {
    padding-bottom: 5%;
    /* background-color: rgb(72, 52, 253); */
    background: linear-gradient(#000000, #13161E);
}

.bas {
    padding-top: 200px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-around
}

.informations {
    width: 35%;
}

.informations a {
    font-size: 125%;
    color: white;
}

.informations h2 {
    color: #dddddd;
    font-size: 150%;
}

.regle {
    color: white;
}

.regle li {
    font-size: 125%;
}

.reseaux {
    width: 15%;
    padding-top: 5%;
    margin-left: 150px;
    display: flex;
    align-items: start;
}

.insta {
    border-radius: 5px;
    background-color: whitesmoke;
    padding: 5% 5% 2% 5%;
    margin-right: 5%;
    align-items: start;
}

.insta img {
    width: 100%;
    flex-direction: row;
}

.twitter {
    border-radius: 5px;
    background-color: whitesmoke;
    padding: 5% 5% 2% 5%;
    margin-right: 5%;
    align-items: start;
}

.twitter img {
    width: 100%;
    flex-direction: row;
}

.facebook {
    border-radius: 5px;
    background-color: whitesmoke;
    padding: 5% 5% 2% 5%;
    align-items: start;
}

.facebook img {
    flex-direction: row;
    width: 100%;
}

.chat {
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 250px;
    background-color: rgb(255, 255, 255);
    max-height: 50vh;
    height: 380px;
    transform: translateY(340px);
    transition: transform 500ms ease-in-out;
}

.chat:hover {
    transform: translateY(0px);
}

.header_chat {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    height: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

#photo_chat {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 10px;
    align-items: center;
}

.Align {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: black;
}

.body_chat {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 300px;
}

.user_message,
.user_message2 {

    display: flex;
    flex-direction: column;
    margin: 0 10px;
    width: 160px;
    color: white;
}

.user_message2 {
    display: flex;
    justify-content: center;

}

.user_message {
    margin-left: auto;
}

.message {
    border-radius: 90%;

    padding: 10px;
    width: fit-content;
}

.user {
    background-color: rgb(83, 83, 243);
    padding: 10px;
    border-radius: 5%;
}

.Time_message {

    color: rgb(100, 100, 100);

}

.user_name,
.user_name2 {
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}

#moi {
    margin-left: 100px;
    margin-top: 4px;
}

.footer_chat input[type="text"] {
    padding: 5px;
    border: black 1px solid;
    font-family: Arial, Helvetica, sans-serif;
}

#salut {
    margin-left: auto;
}

.footer_chat input[type="submit"] {
    padding: 5px;
    border: none;
}

.footer_chat {
    border-top: 2px rgb(0, 0, 0) solid;
    padding: 5px;
    background-color: white;
}

.user_name,
.user,
.Time_message {
    margin: 3px;
    font-family: Arial, Helvetica, sans-serif;
}

.Time_message {
    font-size: small;
}